.App {
  text-align: center;
  margin-top: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input.form-control {
  height: inherit !important
}

.App-link {
  color: #61dafb;
}

.search-card {
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.activedown-card {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.input-group {
  margin-right: 1rem;
}

.input-group-prepend {
    margin-left: 1rem;
}

a.btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
